<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <!-- el personajes de la derecha es el de la clase padre y el de la izq el del hijo -->
        <app-personajes></app-personajes>
        <!-- <h3>Personajes</h3>
        <hr>
        <ul>
            <li *ngFor="let personaje of personajes">
                {{personaje.nombre}} - {{personaje.poder | number }}
            </li>
        </ul> -->
    </div>

    <div class="col">
        <app-agregar></app-agregar>
    </div>
</div>